<section class="cart-page" {% unless section.settings.global_color_scheme %}color-scheme="{{ section.settings.color_scheme }}"{% endunless %}>
    {%- render 'c-cart', location: 'page', blocks: section.blocks -%}
</section>

{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
        "type": "header",
        "content": "Appearance"
    },
    {
        "type": "checkbox",
        "id": "global_color_scheme",
        "label": "Use global color scheme",
        "default": true
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "coretex-1",
        "visible_if": "{{ section.settings.global_color_scheme == false }}"
    }
  ],
  "blocks": [
    {
        "type": "@app"
    },
    {
      "type": "liquid",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Custom Liquid"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["cart"]
  }
}
{% endschema %}
